:root {
    color-scheme: light dark;

    --bg: light-dark(oklch(90% 0 0), oklch(20% 0 0));
    --dim-bg: light-dark(oklch(85% 0 0), oklch(25% 0 0));
    --text: light-dark(oklch(20% 0 0), oklch(90% 0 0));
    --dim-text: light-dark(oklch(50% 0 0), oklch(65% 0 0));
    --sans: system-ui;
}

body {
    background-color: var(--bg);
    color: var(--text);
    font-family: var(--sans);
}

header {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 2rem;

    h1 {
        margin: 0;
    }

    p {
        margin: 0;
        color: var(--dim-text);

        a {
            color: inherit;
            transition: color 0.25s;

            &:hover {
                color: var(--text);
            }
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    input {
        appearance: none;
        background-color: var(--dim-bg);
        color: var(--text);
        font-size: 1rem;
        border-radius: 0.25rem;
        padding: 0.5rem;
        border: none;
        outline: none;
        width: 32rem;
        text-align: center;
    }

    output {
        font-size: 1rem;
    }
}
